html, body, div, span, object,
h1, h2, h3, h4, h5, p,
a, address, 
del, dfn, em, img, ins, kbd, q, s, var,
b, u, i, center, ol, ul, li,
form, label, legend,   
article, aside, footer, header, 
menu, nav, output, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	
}

body{

	max-height: auto;
    max-width: 100%;
    background-color: #E0E0DB;



}


	
header {
	
	text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
}



.menu ul {
	margin: 0;
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: left;
	
}
.menu li {
	border-right: 1px solid #fff;
	background: #E9E8E5;
}

.menu li:hover {
	
	background: rgba(0,0,0,0.0);
}

.menu li a {
	display: block;
	padding: 15px 20px;
	color: #40403F;
	font-family: Impact;
	text-decoration: none;
	
}


.divisor {


margin:0 auto; 
max-width: 100%;
height: auto;
padding-left: 600px;
float:left;
text-align:center;
box-sizing: border-box;
}

.divisor2 {

margin:0 auto;
/*margin: 0px 10px 10px 10px; */
max-width: 100%;
height: auto;
padding-left: 650px;
float:left;
text-align:center;
box-sizing: border-box;
}

.divisor2 h2 {

	font-family: Century Gothic;
	font-size: 18px;
	text-align: center;
	margin-bottom: 0px;
	color:#000;
	padding: 10px;
	margin-left:0 auto;
	margin-right:0 auto;

}

.divisor2 h1 {

	font-family: Adobe Gothic Std B;
	font-size: 28px;
	text-align: center;
	margin-bottom: 10px;
	color:#000;
	font-weight: bold;
	margin-left:0 auto;
	margin-right:0 auto;
}

.divisor3 {

background-color: #f8f1e1;

/*margin:5px 5px 10px 10px;*/
margin-top: 50px; 
width: 100%;
height: auto;
padding: 50px;
float:left;
text-align:center;
box-sizing: border-box;
}

.divisor4 {

background-color: #D3D3D3;
margin:0 auto;
/*margin:5px 5px 10px 10px;*/
margin-top: 50px; 
width: 100%;
height: auto;
padding: 50px;
float:left;
text-align:center;
box-sizing: border-box;
}

.comunicacion {

background-color: #F2B094;
margin:0 auto;
/*margin:5px 5px 10px 10px;*/
margin-top: 10px; 
width: 45%;
height: auto;
padding: 50px;
float:left;
text-align:center;
box-sizing: border-box;

}

.comunicacion h2 {

	font-family: Century Gothic;
	font-size: 18px;
	text-align: center;
	margin-bottom: 0px;
	color:#fff;
	padding: 10px;
	margin-left:0 auto;
	margin-right:0 auto;

}

.comunicacion h1 {

	font-family: Adobe Gothic Std B;
	font-size: 22px;
	text-align: center;
	margin-bottom: 0px;
	color:#fff;
	font-weight: bold;
	margin-left:0 auto;
	margin-right:0 auto;
}

.comunicacion .boton {
  background-color: #F29D78;
  border-radius: 15px 15px 15px 15px; 
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
}

.comunicacion2 {

background-color:#70CABD;
margin:0 auto;
/*margin:5px 5px 10px 10px;*/
margin-top: 10px; 
width: 45%;
height: auto;
padding: 50px;
float:left;
text-align:center;
box-sizing: border-box;
}

.comunicacion2 h2 {

	font-family: Century Gothic;
	font-size: 18px;
	text-align: center;
	margin-bottom: 0px;
	color:#fff;
	padding: 10px;
	margin-left:0 auto;
	margin-right:0 auto;

}

.comunicacion2 h1 {

	font-family: Adobe Gothic Std B;
	font-size: 22px;
	text-align: center;
	margin-bottom: 0px;
	color:#fff;
	font-weight: bold;
	margin-left:0 auto;
	margin-right:0 auto;
}

.comunicacion2 .boton {
  background-color: #4CB5A6;
  border-radius: 15px 15px 15px 15px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
}

h1 {
	font-family: Century Gothic;
	font-size: 20px;
	text-align: center;
	margin-bottom: 0px;
	color:#06316C;
}
h2 {
	font-family: Cambria;
	font-size: 22px;
	text-align: justify;
	margin-bottom: 0px;
	color:#06316C;
	
}
h3  {
	font-family: Arial;
	margin-bottom: 0px;
	font-size:18px;
	text-align: center;
	color: #000;
}
h4 {
	font-family: Adobe Gothic Std B;
	margin-bottom: 5px;
	font-size:22px;
	text-align:center;
	color: #1D128A;
	text-shadow: 2px 2px #fff;
	
}

h5 {
	color:#566573;
	font-size: 30px;
	font-family: Century751 SeBd BT;
	text-align: center;
	margin-bottom: 0px;
	box-sizing: border-box;
}

h6 {
	
	font-family: "Times New Roman", Times, serif;
	margin-bottom: 10px;
	font-size:12px;
	text-align:center;
	color: #000;
}
p {
	font-family: "Times New Roman", Times, serif;
	margin-bottom: 5px;
	font-size:18px;
	text-align:justify;
	
	
}

a {
	font-family: "Times New Roman", Times, serif;
	margin-bottom: 5px;
	font-size:18px;
	text-align:justify;
}





footer 
{
	width:100%;
	text-align:center;
	margin:0 auto;
		
	}
	
footer	.pie {
	
	
	background-color: #37383B;
	text-align: center;
	background-repeat: no-repeat;
	margin: 0px auto;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	width: 90%;
	height: auto;
	padding: 10px;
	color: 	#C0C0C0;
	text-shadow: 1px 1px 1px #333;
	box-sizing: border-box;
	}
	
.pie2 {
	width: 30%;
	float:left;
	text-align: left;
	margin-left: 30px auto;
	box-sizing: border-box;
	
	
}

.pie3 {
	width: 30%;
	float:left;
	text-align: right;
	margin-left: 30px auto;
	box-sizing: border-box;
	
}



/* diseño para tablet*/

@media (min-width: 400px) and (max-width: 800px) {
	
	.wrapper label {
	
	display: block;
	
		
	}
	
	.wrapper label img {
	
	width: 30px;
	height: 30px;
		
	}
	
	
	
	.divisoralbum {display: none;}
	
	
	/**/
	
	#encuadrar { width: 100%;}
	.divisorVertical {display: none;}
	.divisor {width: 100%; padding: 5px 20px 5px 20px; margin: 0 auto;}
	h2, h5{font-family: Century751 SeBd BT;
	font-size: 15px;
	color:#333333;
	text-align: center;
	box-sizing: border-box;
	}
	

	


	p {
	font-family: "Times New Roman", Times, serif;
	margin-bottom: 5px;
	font-size:14px;
	text-align:justify;
	
	
}



a {
	font-family: "Times New Roman", Times, serif;
	margin-bottom: 5px;
	font-size:14px;
	text-align:justify;
}

.divisorHorizontal {display:none;}

.pie2 {
	display: none;
	
}

.pie3 {
	width: 100%;
	float:left;
	text-align: center;
	box-sizing: border-box;
	
}

.divisor form {
	
	padding-right: 10px;
	box-sizing: border-box;
	
}

.formulario {
	
	display: none;
}

}}

/* diseño para moviles*/
@media (min-width: 400px) and (max-width: 800px) {
	
	.wrapper label {
	
	display: block;
	
		
	}
	
	.wrapper label img {
	
	width: 30px;
	height: 30px;
		
	}
	
	
	
	.divisoralbum {display: none;}
	
	
	/**/
	
	#encuadrar { width: 90%;}
	.divisorVertical {display: none;}
	.divisor {width: 100%; padding: 5px 20px 5px 20px; margin: 0 auto;}
	h2, h5{font-family: Century751 SeBd BT;
	font-size: 12px;
	text-align: center;
	box-sizing: border-box;
	}
	

	


	p {
	font-family: "Times New Roman", Times, serif;
	margin-bottom: 10px;
	font-size:12px;
	text-align:justify;
	
	
}



a {
	font-family: "Times New Roman", Times, serif;
	margin-bottom: 10px;
	font-size:14px;
	text-align:justify;
}


.pie2 {
	display: none;
	
}

.pie3 {
	width: 100%;
	float:left;
	text-align: center;
	box-sizing: border-box;
	
}

.divisor form {
	
	padding-right: 10px;
	box-sizing: border-box;
	
}

.formulario {
	
	display: none;
}

}


footer 
{
	width:100%;
	text-align:center;
		
	}
	
footer	.pie {
	
	
	background-color: #37383B;
	text-align: center;
	background-repeat: no-repeat;
	margin: 0px auto;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: auto;
	padding: 10px;
	color: 	#C0C0C0;
	text-shadow: 1px 1px 1px #333;
	box-sizing: border-box;
	}


}






}

